@import "mixins";
@use "extends";

// modules
$font-stack: "Encode Sans", sans-serif;
$color-primary: #4f4f4f;
// ====================== //

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @extend %code-primary-desk;
  overflow: hidden;
  background-color: $color-primary;
}

main {
  height: 100vh;
  padding: 10px;
  @include dflex-center;
  .procedure {
    @extend %base-procedure;
    &#procedure__step-0 {
      .content {
        &__head {
          font-size: 55px;
        }
        &__image {
          height: 200px;
          &-end {
            bottom: 60px;
            right: 0;
          }
        }
      }
    }
    &#procedure__step-1 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-1.png"), left);
      }
      .content {
        @include content-desktop(50%, 72px, 600px);
      }
    }
    &#procedure__step-2 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-2.png"), right);
      }
      .content {
        @include content-desktop(50%, 40px, 120px);
      }
    }
    &#procedure__step-3 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-3.png"), right);
      }
      .content {
        @include content-desktop(50%, 70px, 100px);
      }
    }
    &#procedure__step-4 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-4.png"), left);
      }
      .content {
        &__head {
          width: 35%;
        }
        &__text {
          width: 25%;
        }
      }
      .edit__pos {
        position: absolute;
        &-left {
          top: 180px;
          left: 280px;
        }
        &-right {
          top: 150px;
          right: 40px;
        }
        ul {
          li {
            color: $color-primary;
            font-size: 20px;
          }
        }
      }
    }
    &#procedure__step-5 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-5.png"), left);
      }
      .content {
        &__head {
          width: 40%;
        }
        &__text {
          width: 25%;
        }
      }
      .edit__pos {
        position: absolute;
        &-left {
          top: 100px;
          left: 150px;
        }
        &-right {
          top: 100px;
          right: 50px;
        }
        ul {
          li {
            color: $color-primary;
            font-size: 20px;
          }
        }
      }
    }
    &#procedure__step-6 {
      position: relative;
      &::before {
        @include bg-desktop(url("../images/bg-slide-6.png"), center);
      }
      .content {
        @include content-desktop(40%, 250px, 150px);
        .button__link {
          margin: auto;
        }
      }
    }
  }
  .nav-edit {
    align-items: center;
    justify-content: space-between;
    color: $color-primary;
    .button {
      height: 100%;
      padding: 10px;
      @include dflex-center(row);
      font-size: 25px;
      background-color: #fff;
      color: $color-primary;
      border: none;
      outline: none;
      &:hover,
      &:focus {
        @extend %color-active;
      }
    }
    a.button {
      height: 100%;
      font-size: 18px;
      padding: 10px;
      margin: 0;
      color: $color-primary;
      &:hover {
        @extend %color-active;
        transform: translateY(-10px);
        transition: 0.3s all ease-in-out;
      }
      span {
        margin-left: 5px;
      }
    }
    .nav__foot {
      margin: 10px;
      background-color: $color-primary;
      @include dflex-center(row);
      #indicators {
        padding: 0 5px;
        margin: 0;
        display: flex;
        list-style: none;
        @include dflex-center(row);
        .indicator {
          width: 125px;
          padding: 10px 0;
          margin: 5px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 18px;
          @include dflex-center(row);
          span {
            margin-left: 5px;
          }
          &.active {
            @extend %color-active;
          }
          &.unactive {
            background-color: #fff;
          }
          &:hover {
            @extend %color-active;
            transform: translateY(-10px);
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }
  }
}
