@use "extends";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #4f4f4f;
}

main {
  min-height: 100vh;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure#procedure__step-0 {
  position: relative;
}

main .procedure#procedure__step-0::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/demo.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-0::after {
  display: none;
}

main .procedure#procedure__step-0 .content {
  width: 50%;
  top: 25%;
  left: 25%;
  position: absolute;
}

main .procedure#procedure__step-0 .content__head {
  font-size: 52px;
}

main .procedure#procedure__step-1 {
  position: relative;
}

main .procedure#procedure__step-1::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-1 .content {
  width: 50%;
  top: 72px;
  left: 600px;
  position: absolute;
}

main .procedure#procedure__step-1::after {
  display: none;
}

main .procedure#procedure__step-2 {
  position: relative;
}

main .procedure#procedure__step-2::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-2 .content {
  width: 50%;
  top: 40px;
  left: 120px;
  position: absolute;
}

main .procedure#procedure__step-2::after {
  display: none;
}

main .procedure#procedure__step-3 {
  position: relative;
}

main .procedure#procedure__step-3::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-3 .content {
  width: 50%;
  top: 70px;
  left: 100px;
  position: absolute;
}

main .procedure#procedure__step-3::after {
  display: none;
}

main .procedure#procedure__step-4 {
  position: relative;
}

main .procedure#procedure__step-4::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-4 .content__head {
  width: 35%;
}

main .procedure#procedure__step-4 .content__text {
  width: 25%;
}

main .procedure#procedure__step-4 .edit__pos {
  position: absolute;
}

main .procedure#procedure__step-4 .edit__pos-left {
  top: 180px;
  left: 280px;
}

main .procedure#procedure__step-4 .edit__pos-right {
  top: 150px;
  right: 40px;
}

main .procedure#procedure__step-4 .edit__pos ul li {
  color: #4f4f4f;
  font-size: 20px;
}

main .procedure#procedure__step-4::after {
  display: none;
}

main .procedure#procedure__step-5 {
  position: relative;
}

main .procedure#procedure__step-5::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-5.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-5 .content__head {
  width: 40%;
}

main .procedure#procedure__step-5 .content__text {
  width: 25%;
}

main .procedure#procedure__step-5 .edit__pos {
  position: absolute;
}

main .procedure#procedure__step-5 .edit__pos-left {
  top: 100px;
  left: 150px;
}

main .procedure#procedure__step-5 .edit__pos-right {
  top: 100px;
  right: 50px;
}

main .procedure#procedure__step-5::after {
  display: none;
}

main .procedure#procedure__step-6 {
  position: relative;
}

main .procedure#procedure__step-6::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-6.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
}

main .procedure#procedure__step-6 .content {
  width: 40%;
  top: 250px;
  left: 150px;
  position: absolute;
}

main .procedure#procedure__step-6 .content .button__link {
  margin: auto;
}

main .procedure#procedure__step-6::after {
  display: none;
}

main .controls .controls__desk {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4f4f4f;
}

main .controls .controls__desk .button {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  background-color: #fff;
  color: #4f4f4f;
  border: none;
  outline: none;
}

main .controls .controls__desk .nav__foot {
  margin: 10px;
  background-color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .controls .controls__desk .nav__foot #indicators {
  padding: 0 5px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .controls .controls__desk .nav__foot #indicators .indicator {
  width: 120px;
  padding: 10px 0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .controls .controls__desk .nav__foot #indicators .indicator span {
  margin-left: 5px;
}

main .controls .controls__desk .nav__foot #indicators .indicator.unactive {
  background-color: #fff;
}

main .controls .controls__desk .nav__foot #indicators .indicator:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

main .controls .controls__mb {
  display: none;
}

main .controls .controls__mb-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 9;
  background: #4f4f4f;
  padding: 5px 10px;
}

main .controls .controls__mb-buttons span {
  font-weight: 700;
  color: white;
  font-size: 18px;
}

main .controls .controls__mb-buttons .button {
  font-size: 25px;
  color: white;
}

main .controls .controls__mb #get-name-step {
  color: #fff;
}

main .controls .controls__mb #get-name-step span {
  margin-left: 10px;
}

main .controls .controls__mb-menu {
  position: absolute;
  z-index: 9;
  background-color: #4f4f4f;
  top: 0;
  right: 0;
  z-index: 8s;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

main .controls .controls__mb-menu .button {
  font-size: 20px;
}

main .controls .controls__mb-menu .button .fa-hamburger {
  color: white;
}

main .controls .controls__mb-menu #indicators-mb {
  display: none;
  width: 200px;
  list-style: none;
  padding: 0;
}

main .controls .controls__mb-menu #indicators-mb .indicator {
  margin: 10px 0;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

main .controls .controls__mb-menu #indicators-mb .indicator:hover, main .controls .controls__mb-menu #indicators-mb .indicator.selected {
  background-color: #ef004a;
}

@media (max-width: 900px) {
  main .controls .controls__desk {
    display: none;
  }
  main .controls .controls__mb {
    display: block;
  }
}

@media (max-width: 600px) {
  main .controls .controls__desk {
    display: none;
  }
  main .controls .controls__mb {
    display: block;
  }
}

body {
  height: 100%;
  font-family: "Encode Sans", sans-serif;
}

body .hide {
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .show {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .button__link a {
  text-decoration: none;
  color: #fff;
}

main .procedure {
  min-height: 600px;
  padding: 100px 0;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

main .procedure .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure .image__logo {
  width: 15%;
}

main .procedure .image__line {
  width: 80%;
}

main .procedure .image__tree, main .procedure .image__grass, main .procedure .image__road {
  width: 80%;
}

main .procedure .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure .content__head {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f4f4f;
}

main .procedure .content__image-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .procedure .content__image-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .procedure .image__person {
  width: 100%;
  height: 100%;
}

body .button__link {
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  margin-right: auto;
}

body p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
  color: #4f4f4f;
}

body h3 {
  font-size: 35px;
  line-height: 60px;
}

main .controls .controls__desk .button:hover, main .controls .controls__desk .button:focus, main .controls .controls__desk .nav__foot #indicators .indicator.active, main .controls .controls__desk .nav__foot #indicators .indicator:hover, body .button__link {
  background-color: #ef004a;
  color: white;
  font-weight: 700;
}

@use "extends";
@media (max-width: 1200px) {
  main {
    padding: 10px;
  }
  main .procedure {
    min-height: 500px;
  }
  main .procedure#procedure__step-0 .content {
    width: 70%;
    top: 20%;
    left: 15%;
    position: absolute;
  }
  main .procedure#procedure__step-0 .content__head {
    font-size: 40px;
  }
  main .procedure#procedure__step-1 .content {
    width: 50%;
    top: 30px;
    left: 300px;
    position: absolute;
  }
  main .procedure#procedure__step-1 .content__head {
    font-size: 30px;
    line-height: 40px;
  }
  main .procedure#procedure__step-1 .content p,
  main .procedure#procedure__step-1 .content .button__link {
    font-size: 20px;
    line-height: 30px;
  }
  main .procedure#procedure__step-1 .content .button__link {
    padding: 10px 20px;
  }
  main .procedure#procedure__step-2 .content {
    width: 50%;
    top: 30px;
    left: 50px;
    position: absolute;
  }
  main .procedure#procedure__step-2 .content__head {
    font-size: 30px;
    line-height: 40px;
  }
  main .procedure#procedure__step-2 .content p,
  main .procedure#procedure__step-2 .content .button__link {
    font-size: 20px;
    line-height: 30px;
  }
  main .procedure#procedure__step-2 .content .button__link {
    padding: 10px 20px;
  }
  main .procedure#procedure__step-3 .content {
    width: 50%;
    top: 50px;
    left: 50px;
    position: absolute;
  }
  main .procedure#procedure__step-3 .content__head {
    font-size: 30px;
    line-height: 40px;
  }
  main .procedure#procedure__step-3 .content p,
  main .procedure#procedure__step-3 .content .button__link {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  main .procedure#procedure__step-3 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-4 .content {
    width: 50%;
    top: 150px;
    left: 180px;
    position: absolute;
  }
  main .procedure#procedure__step-4 .content__head {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }
  main .procedure#procedure__step-4 .content__text {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
  main .procedure#procedure__step-4 .content ul li {
    font-size: 20px;
  }
  main .procedure#procedure__step-4 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-5 .content {
    width: 40%;
    top: 50px;
    left: 150px;
    position: absolute;
  }
  main .procedure#procedure__step-5 .content__head {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }
  main .procedure#procedure__step-5 .content__text {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
  main .procedure#procedure__step-5 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-5 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-6 .content {
    width: 45%;
    top: 200px;
    left: 80px;
    position: absolute;
  }
  main .procedure#procedure__step-6 .content__head {
    font-size: 30px;
  }
  main .procedure#procedure__step-6 .content .button__link {
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  main {
    padding: 10px;
  }
  main .procedure {
    min-height: 450px;
  }
  main .procedure#procedure__step-0 .content {
    width: 70%;
    top: 25%;
    left: 20%;
    position: absolute;
  }
  main .procedure#procedure__step-0 .content__head {
    font-size: 40px;
  }
  main .procedure#procedure__step-1 .content {
    width: 50%;
    top: 30px;
    left: 300px;
    position: absolute;
  }
  main .procedure#procedure__step-1 .content__head {
    font-size: 25px;
    line-height: 30px;
  }
  main .procedure#procedure__step-1 .content p,
  main .procedure#procedure__step-1 .content .button__link {
    font-size: 18px;
    line-height: 30px;
  }
  main .procedure#procedure__step-1 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-2 .content {
    width: 50%;
    top: 30px;
    left: 50px;
    position: absolute;
  }
  main .procedure#procedure__step-2 .content__head {
    font-size: 25px;
    line-height: 30px;
  }
  main .procedure#procedure__step-2 .content p,
  main .procedure#procedure__step-2 .content .button__link {
    font-size: 18px;
    line-height: 30px;
  }
  main .procedure#procedure__step-2 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-3 .content {
    width: 50%;
    top: 25px;
    left: 50px;
    position: absolute;
  }
  main .procedure#procedure__step-3 .content__head {
    font-size: 25px;
    line-height: 30px;
  }
  main .procedure#procedure__step-3 .content p,
  main .procedure#procedure__step-3 .content .button__link {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  main .procedure#procedure__step-3 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-4 .content {
    width: 50%;
    top: 130px;
    left: 180px;
    position: absolute;
  }
  main .procedure#procedure__step-4 .content__head {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
  main .procedure#procedure__step-4 .content__text {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
  main .procedure#procedure__step-4 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-4 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-5 .content {
    width: 50%;
    top: 40px;
    left: 80px;
    position: absolute;
  }
  main .procedure#procedure__step-5 .content__head {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
  main .procedure#procedure__step-5 .content__text {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
  main .procedure#procedure__step-5 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-5 .content .button__link {
    padding: 10px;
  }
  main .procedure#procedure__step-6 .content {
    width: 50%;
    top: 180px;
    left: 80px;
    position: absolute;
  }
  main .procedure#procedure__step-6 .content__head {
    font-size: 25px;
  }
  main .procedure#procedure__step-6 .content .button__link {
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  body h3.content__head {
    font-size: 28px;
    line-height: 40px;
  }
  body p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  body .button__link {
    font-size: 18px;
  }
  main {
    min-height: 0;
    padding: 5px;
  }
  main .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .procedure {
    min-height: 700px;
  }
  main .procedure#procedure__step-0 {
    height: 736px;
    border-radius: 0;
  }
  main .procedure#procedure__step-0::before {
    display: none;
  }
  main .procedure#procedure__step-0::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-0.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-0 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-0 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-0 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-0 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-0 .content p,
  main .procedure#procedure__step-0 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-0 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-0 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-0 .content {
    display: none;
  }
  main .procedure#procedure__step-1 {
    border-radius: 0;
  }
  main .procedure#procedure__step-1::before {
    display: none;
  }
  main .procedure#procedure__step-1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-1 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-1 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-1 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-1 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-1 .content p,
  main .procedure#procedure__step-1 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-1 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-1 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-2 {
    border-radius: 0;
  }
  main .procedure#procedure__step-2::before {
    display: none;
  }
  main .procedure#procedure__step-2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-2 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-2 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-2 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-2 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-2 .content p,
  main .procedure#procedure__step-2 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-2 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-2 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-3 {
    border-radius: 0;
  }
  main .procedure#procedure__step-3::before {
    display: none;
  }
  main .procedure#procedure__step-3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-3 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-3 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-3 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-3 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-3 .content p,
  main .procedure#procedure__step-3 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-3 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-3 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-4 {
    border-radius: 0;
  }
  main .procedure#procedure__step-4::before {
    display: none;
  }
  main .procedure#procedure__step-4::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-4 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-4 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-4 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-4 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-4 .content p,
  main .procedure#procedure__step-4 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-4 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-4 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-5 {
    border-radius: 0;
  }
  main .procedure#procedure__step-5::before {
    display: none;
  }
  main .procedure#procedure__step-5::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-5 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-5 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-5 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-5 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-5 .content p,
  main .procedure#procedure__step-5 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-5 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-5 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-6 {
    border-radius: 0;
  }
  main .procedure#procedure__step-6::before {
    display: none;
  }
  main .procedure#procedure__step-6::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/bg-mb-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: top;
    top: 0;
    left: 0;
    background-size: cover;
    display: block;
    z-index: 1;
  }
  main .procedure#procedure__step-6 .content {
    width: 100%;
    top: 250px;
    left: 0;
    position: absolute;
    padding: 0 20px;
    z-index: 9;
    height: 450px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 1px 6px 3px #888;
            box-shadow: 0px 1px 6px 3px #888;
  }
  main .procedure#procedure__step-6 .content .edit__pos {
    position: static;
  }
  main .procedure#procedure__step-6 .content__head {
    width: 100%;
  }
  main .procedure#procedure__step-6 .content__text {
    width: 100%;
  }
  main .procedure#procedure__step-6 .content p,
  main .procedure#procedure__step-6 .content .button__link {
    font-size: 18px;
  }
  main .procedure#procedure__step-6 .content .button__link {
    margin: 0 auto;
    padding: 10px 15px;
  }
  main .procedure#procedure__step-6 .content ul li {
    font-size: 18px;
  }
  main .procedure#procedure__step-6 .content__head {
    font-size: 32px;
  }
  main .procedure#procedure__step-6 .image__line {
    margin-bottom: 15px;
  }
  main .procedure#procedure__step-6 .button__link a {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */