@charset "UTF-8";
/*
  *Dùng mixin để khai báo từng độ phân giải màn hình
  Element nào cần thay đổi ở dộ phân giải màn hình nào thì ta chỉ *việc gọi mixin tương ứng ra và sử dụng cấu trúc lồng viết luôn thuộc tính cần thay đổi tại đó.
*/
@use "extends";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #4f4f4f;
}

main {
  height: 100vh;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure#procedure__step-0 .content__head {
  font-size: 55px;
}

main .procedure#procedure__step-0 .content__image {
  height: 200px;
}

main .procedure#procedure__step-0 .content__image-end {
  bottom: 60px;
  right: 0;
}

main .procedure#procedure__step-1 {
  position: relative;
}

main .procedure#procedure__step-1::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-1 .content {
  width: 50%;
  top: 72px;
  left: 600px;
  position: absolute;
}

main .procedure#procedure__step-2 {
  position: relative;
}

main .procedure#procedure__step-2::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-2 .content {
  width: 50%;
  top: 40px;
  left: 120px;
  position: absolute;
}

main .procedure#procedure__step-3 {
  position: relative;
}

main .procedure#procedure__step-3::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: right;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-3 .content {
  width: 50%;
  top: 50px;
  left: 120px;
  position: absolute;
}

main .procedure#procedure__step-4 {
  position: relative;
}

main .procedure#procedure__step-4::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-4 .content__head {
  width: 35%;
}

main .procedure#procedure__step-4 .content__text {
  width: 25%;
}

main .procedure#procedure__step-4 .edit__pos {
  position: absolute;
}

main .procedure#procedure__step-4 .edit__pos-left {
  top: 180px;
  left: 280px;
}

main .procedure#procedure__step-4 .edit__pos-right {
  top: 150px;
  right: 40px;
}

main .procedure#procedure__step-4 .edit__pos ul li {
  color: #4f4f4f;
  font-size: 20px;
}

main .procedure#procedure__step-5 {
  position: relative;
}

main .procedure#procedure__step-5::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-5.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: left;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-5 .content__head {
  width: 40%;
}

main .procedure#procedure__step-5 .content__text {
  width: 25%;
}

main .procedure#procedure__step-5 .edit__pos {
  position: absolute;
}

main .procedure#procedure__step-5 .edit__pos-left {
  top: 100px;
  left: 150px;
}

main .procedure#procedure__step-5 .edit__pos-right {
  top: 100px;
  right: 50px;
}

main .procedure#procedure__step-5 .edit__pos ul li {
  color: #4f4f4f;
  font-size: 20px;
}

main .procedure#procedure__step-6 {
  position: relative;
}

main .procedure#procedure__step-6::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-slide-6.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center;
  top: 0;
  right: 0;
}

main .procedure#procedure__step-6 .content {
  width: 40%;
  top: 250px;
  left: 150px;
  position: absolute;
}

main .procedure#procedure__step-6 .content .button__link {
  margin: auto;
}

main .foot {
  margin-top: 10px;
  background-color: #4f4f4f;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .foot #indicators {
  padding: 0 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .foot #indicators .indicator {
  width: 60px;
  height: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

main .foot #indicators .active {
  background-color: lightcoral;
}

main .foot #indicators .unactive {
  background-color: #fff;
}

main .foot .button {
  font-size: 30px;
  color: #fff;
}

/*
  *Dùng mixin để khai báo từng độ phân giải màn hình
  Element nào cần thay đổi ở dộ phân giải màn hình nào thì ta chỉ *việc gọi mixin tương ứng ra và sử dụng cấu trúc lồng viết luôn thuộc tính cần thay đổi tại đó.
*/
body {
  height: 100%;
  font-family: "Encode Sans", sans-serif;
}

body .hide {
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .show {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .button__link a {
  text-decoration: none;
  color: #fff;
}

main .procedure {
  min-height: 600px;
  padding: 100px 0;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

main .procedure .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure .image__logo {
  width: 15%;
}

main .procedure .image__line {
  width: 80%;
}

main .procedure .image__tree, main .procedure .image__grass, main .procedure .image__road {
  width: 80%;
}

main .procedure .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .procedure .content__head {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f4f4f;
}

main .procedure .content__image-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .procedure .content__image-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .procedure .image__person {
  width: 100%;
  height: 100%;
}

body .button__link {
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  padding: 15px 40px;
  background: #ef004a;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  margin-right: auto;
}

body p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
  color: #4f4f4f;
}

body h3 {
  font-size: 35px;
  line-height: 60px;
}
/*# sourceMappingURL=main.css.map */